* {
    margin: 0;
    padding: 0;
}

body {
    border: solid red;
    width: 100%;
}

.navbar {
    background-color: #000000;
    display: flex;
}

.agriplus {
    color: #FAFAFA;
    margin-left: 5%;
    padding: 10px;
    font-size: 40px;
    font-family: 'Inter';
}

.nav-middle {
    display: flex;
    color: #FAFAFA;
    padding: 50px;
    width: 50%;
    justify-content: space-evenly;
    font-size: 30px;

}

.nav-right {
    float: right;
    margin-left: 5%%;

}

.login {
    font-size: 30px;
    padding: 30px;
    color: #FAFAFA;
    background-color: #000000;
    cursor: pointer;
}

.get-started-btn {
    padding: 20px;
    color: #FAFAFA;
    background-color: #ED661F;
    font-size: 30px;
    cursor: pointer;
}

.explore-btn {
    width: 30%;
    background: #ED661F;
    cursor: pointer;
    color: #FAFAFA;
    font-size: 30px;
    padding: 30px;
    border: none;
    font-weight: 700;
}

.back-ground-image {
    height: 800px;
    background-image: url('../images/image1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 900px;
}

.veges-background {
    margin-left: 5%;
    display: flex;
}

.veg-text2 {
    width: 40%;
}

.veg-text2 img {
    width: 100%;
    height: 100%;
}

.veg-text h1 {
    font-size: 70px;
    font-family: 'Inter';

}

.veg-text p {
    font-size: 30px;
    font-family: 'Poppins';
}

.statistics {
    border: solid #FAFAFA;
    display: flex;
    padding: 50px;
    width: 50%;
    justify-content: space-evenly;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 30px;
    margin-left: 30%;
    box-shadow: 10px 10px 30px 0px;
}

.exist {
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}

.exist-intro {
    padding-top: 100px;
}

.exist-intro h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.exist-intro p {
    font-size: 30px;
    font-family: 'Inter';
}

.exist-image2 {
    width: 70%;
}

.exist-image2 img {
    width: 80%;
}

/* CATEGORIES OF PRODUCTS */

.category {
    padding: 10px;
    text-align: center;
}

.category h2 {
    font-family: 'Poppins';
    font-size: 40px;
}

.category span {
    text-decoration: underline;
    text-decoration-color: #ED661F;
}

.category p {
    margin-top: 2%;
    font-family: 'Inter';
    font-size: 25px;
}

/* POPULAR */

.popular {
    padding: 50px;
    margin-bottom: 30px;
}

.popular h1 {
    font-size: 40px;
    margin-bottom: 3%;
    padding: 30px, 0px !important;
    padding-bottom: 1%;
    width: 20%;
    border-bottom: 9px solid#ED661F;
}

.elements {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.display-images img {
    width: 80%;
    margin-bottom: 5%;
}

.display-images h5, p {
    font-size: 22px;
    margin-bottom: 5%;
}

.see-all-button {
    padding: 80px;
}

.see-all-button button {
    background-color: #FAFAFA;
    color: #000000;
    border: none;
    font-size: 30px;
    font-family: 'Inter';
    float: right;
    cursor: pointer;
}

.see-all-button button span {
    text-decoration: underline 6px#ED661F;
}

.divide {
    border: solid grey;
}

/* RATINGS */
.esteem {
    padding-top: 50px;
}

.esteem h2 {
    font-family: 'Poppins';
    font-size: 40px;
    margin-bottom: 2%;
    padding-left: 2%;
}

.ratings {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    padding: 30px;
}

.ratings-in {
    padding: 30px;
    margin-top: 50px;
    width: 20%;
    box-shadow: 3px 1px 3px 3px;
}

.comments {
    font-size: 40px;
    padding-bottom: 1%;
    font-family: 'Inter';
    font-weight: 900;
    padding: 30px;
}

.name2 {
    margin-top: 36%;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.names1 {
    margin-top: 15%;
    padding: 30px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.read-more-button {
    padding: 80px;
}

.read-more-button button {
    background-color: #FAFAFA;
    color: #000000;
    border: none;
    font-size: 40px;
    float: right;
    cursor: pointer;
    font-family: 'Inter';
}

.read-more-button u{
    text-decoration: underline 8px #ED661F;
}

/* FOOTER */
footer {
    background-color: black;
    color: #FAFAFA;
    font-family: 'Inter';
}

.footer-top {
    padding: 50px;
    text-align: center;
    border-bottom: solid 6px white;
}

.title p {
    font-size: 40px;
    letter-spacing: 2px;
}

form {
    width: 70%;
    margin: 2% auto;
}

.description p {
    padding: 10px;
    font-size: 20px;
}

.input-box {
    display: flex;
    align-items: center;
}

#email {
    margin-left: 20%;
    width: 30%;
    text-indent: 7%;
    background: #FAFAFA;
    padding: 20px;
}

#submit {
    width: 20%;
    background: #ED661F;
    cursor: pointer;
    transition: .3s ease-in-out;
    color: #FAFAFA;
    font-size: 30px;
    padding: 10px;
}

#submit:hover {
    background: rgb(19, 133, 120);
}

.form-button {
    border: none;
}

.footer-below {
    display: flex;
    margin-top: 5%;
}

.get-app {
    width: 30%;
    font-family: 'Poppins';
    padding: 30px;
    font-size: 25px;
}

.icons {
    float: left;
    width: 10%;
}

.get-app h3 {
    margin-top: 5%;
}

.app-link {
    display: flex;
}

.c-p-o-main {
    width: 60%;
    margin-left: 5%;
    display: flex;
}

.c-p-o-main ul li {
    list-style: none;
    margin: 10%;
    font-size: 25px;
}

.c-p-o {
    width: 33%;
}

.copy-right {
    border: solid black;
    text-align: left;
    margin-top: 2%;
}

.copy-right p {
    font-size: 30px;
    text-align: center;
}